@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "活动管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pagems = ViewData["pagems"] as PagedList<Model.ActivityManage>;
    var lmr = ViewData["lmr"] as IList<Model.Role>;
    Dictionary<int, string> amResult = LIB.EnumHelper.GetEnumDictionary(typeof(Model.amResult));
    string amName = ViewBag.amName.ToString();
    int Result = Convert.ToInt32(ViewBag.amResult);
    int amfkRole = Convert.ToInt32(ViewBag.amfkRole);
}
<div style="margin-top:30px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">名称：</div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <input type="text" id="amName" class="form-control" value="@amName"/>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">预算：</div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <input type="text" id="amBudget" class="form-control" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">预期：</div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <select id="amResult" class="form-control">
                    <option value="-1">请选择</option>
                    @foreach (KeyValuePair<int, string> kvp in amResult)
                    {
                        if (Result != kvp.Key)
                        {
                            <option value="@kvp.Key">@kvp.Value</option>
                        }
                        else
                        {
                            <option value="@kvp.Key" selected="selected">@kvp.Value</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">责任人：</div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <select id="amfkRole" class="form-control">
                    <option value="-1">请选择</option>
                    @foreach (var r in lmr)
                    {
                        if (amfkRole != r.rId)
                        {
                            <option value="@r.rId">@r.RoleName</option>
                        }
                        else
                        {
                            <option value="@r.rId" selected="selected">@r.RoleName</option>
                        }
                    }
                </select>
            </div>
            <input type="hidden" id="amid" value="" />
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">开始：</div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <input type="text" id="amBeginTime" class="form-control" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">结束：</div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <input type="text" id="amEndTime" class="form-control" />
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <input type="button" value="新增" style="margin-left:10px" onclick="AddOrEdit()" id="btn" class="btn btn-primary" />
                <input type="button" value="查询" style="margin-left:10px" onclick="Search()" id="btn" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <table class="table table-hover" style="margin-top:10px">
        <tr>
            <th>活动名称</th>
            <th>活动预算</th>
            <th>活动预期</th>
            <th>责任人</th>
            <th>操作</th>
            <th>操作</th>
        </tr>
        @foreach (var ms in pagems)
            {
            <tr>
                <td>@ms.amName</td>
                <td>@ms.amBudget</td>
                <td>@amResult[ms.amResult.Value]</td>
                <td>@ms.RoleName</td>
                <td><a onclick="Edit('@ms.amName','@ms.amBudget','@ms.amResult','@ms.amfkRole','@ms.amBeginTime.Value.ToString("yyyy-MM-dd")','@ms.amEndTime.Value.ToString("yyyy-MM-dd")','@ms.amId')" style="cursor:pointer">编辑</a></td>
                <td><a onclick="CRMdelete(@ms.amId)" style="cursor:pointer">删除</a></td>
            </tr>
        }
    </table>
    <div>
        @Html.Pager(pagems, new PagerOptions
   {
       FirstPageText = "第一页",
       LastPageText = "最后页",
       NextPageText = "下一页",
       PrevPageText = "上一页",
       NumericPagerItemCount = 5,
       HorizontalAlign = "right",
       PageIndexParameterName = "PageCount",
       ContainerTagName = "ul",
       CssClass = "pagination",
       CurrentPagerItemTemplate = "<li class='active'><a href='#'>{0}</a></li>",
       DisabledPagerItemTemplate = "<li class='disabled'><a>{0}</a></li>",
       PagerItemTemplate = "<li>{0}</li>",
       Id = "bootstrappager"
   })
    </div>
</div>
<script type="text/javascript">
        $('#amBeginTime').datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN'
        });
        $('#amEndTime').datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN'
        });
    //新增修改
    function AddOrEdit() {
        var amName = $("#amName").val();
        var amBudget = $("#amBudget").val();
        var amId = $("#amid").val();
        var amResult = $("#amResult").val();
        var amfkRole = $("#amfkRole").val();
        var amBeginTime = $("#amBeginTime").val();
        var amEndTime = $("#amEndTime").val();
        if (amName == "") {
            alert("请输入活动名称！");
            return false;
        }
        if (amBudget == "") {
            alert("请输入活动预算！");
            return false;
        }
        if (amResult == -1) {
            alert("请选择活动预期！");
            return false;
        }
        if (amfkRole == -1) {
            alert("请选择责任人！");
            return false;
        }
        if (amBeginTime == "") {
            alert("请输入开始时间！");
            return false;
        }
        if (amEndTime == "") {
            alert("请输入结束时间！");
            return false;
        }
        if (amId == "") {
            var jsonString = "";
            jsonString = "{\"amName\":\"" + amName + "\",\"amBudget\":\"" + amBudget + "\",\"amResult\":\"" + amResult + "\",\"amfkRole\":\"" + amfkRole + "\",\"amBeginTime\":\"" + amBeginTime + "\",\"amEndTime\":\"" + amEndTime + "\"}";
            $.ajax({
                type: "POST",   //访问WebService使用Post方式请求
                contentType: "application/json", //WebService 会返回Json类型
                url: "../ActivityManage/Add",
                data: jsonString,   //这里是要传递的参数，格式为 data: "{paraName:paraValue}",下面将会看到
                dataType: 'json',
                success: function (result) {     //回调函数，result，返回值
                    if (result.messagecode == "1") {
                        alert("添加成功！");
                        location.href = "/ActivityManage/Index";
                    }else {
                        alert("添加失败！");
                    }
                    return false;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        } else {
            var jsonString = "";
            jsonString = "{\"amName\":\"" + amName + "\",\"amBudget\":\"" + amBudget + "\",\"amResult\":\"" + amResult + "\",\"amfkRole\":\"" + amfkRole + "\",\"amBeginTime\":\"" + amBeginTime + "\",\"amEndTime\":\"" + amEndTime + "\",\"amId\":\"" + amId + "\"}";
            $.ajax({
                type: "POST",   //访问WebService使用Post方式请求
                contentType: "application/json", //WebService 会返回Json类型
                url: "../ActivityManage/Edit",
                data: jsonString,   //这里是要传递的参数，格式为 data: "{paraName:paraValue}",下面将会看到
                dataType: 'json',
                success: function (result) {     //回调函数，result，返回值
                    if (result.messagecode == "1") {
                        alert("修改成功！");
                        location.href = document.URL;
                    } else {
                        alert("修改失败！");
                    }
                    $("#amName").val("");
                    $("#amBudget").val("");
                    $("#amResult").val(-1);
                    $("#amfkRole").val(-1);
                    $("#amBeginTime").val("");
                    $("#amEndTime").val("");
                    $("#amid").val("");
                    $("#btn").val("新增");
                    return false;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }

    }
    //删除
    function CRMdelete(amId) {
        var jsonString = "";
        jsonString = "{\"amId\":\"" + amId + "\"}";
        $.ajax({
            type: "POST",   //访问WebService使用Post方式请求
            contentType: "application/json", //WebService 会返回Json类型
            url: "../ActivityManage/Delete",
            data: jsonString,   //这里是要传递的参数，格式为 data: "{paraName:paraValue}",下面将会看到
            dataType: 'json',
            success: function (result) {     //回调函数，result，返回值
                if (result.messagecode == "1") {
                    alert("删除成功！");
                    location.href = "/ActivityManage/Index";
                } else {
                    alert("删除失败！");
                }
                return false;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    }
    //编辑
    function Edit(amName, amBudget, amResult, amfkRole, amBeginTime, amEndTime, amId) {
        $("#amName").val(amName);
        $("#amBudget").val(amBudget);
        $("#amResult").val(amResult);
        $("#amfkRole").val(amfkRole);
        $("#amBeginTime").val(amBeginTime);
        $("#amEndTime").val(amEndTime);
        $("#amid").val(amId);
        $("#btn").val("编辑");
    }
    //查询
    function Search() {
        var amName = $("#amName").val();
        var amResult = $("#amResult").val();
        var amfkRole = $("#amfkRole").val();
        location.href = "/ActivityManage/Index?amName=" + amName + "&amResult=" + amResult + "&amfkRole=" + amfkRole;
    }

</script>


