@using Webdiyer.WebControls.Mvc;
@{
    ViewBag.Title = "DEMO";
    //var lms = ViewData["lms"] as IList<Model.Student>;
    var pagems=ViewData["pagems"] as PagedList<Model.Student>;

}

<div style="margin-top:30px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">姓名：</div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <input type="text" style="width:250px" id="Name" class="form-control" />
                </div>
            <div class="col-lg-1 col-md-1 col-sm-1">年龄：</div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <input type="text" style="width:250px" id="Age" class="form-control" />
                </div>
                <input type="hidden" id="sid" value="" />
                <div class="col-lg-2col-lg-2 col-md-2 col-sm-2">
                    <input type="button" value="新增" style="margin-left:10px" onclick="AddOrEdit()" id="btn" class="btn btn-primary" />
                </div>
            </div>
    </div>
        <table class="table table-hover" style="margin-top:10px">
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>操作</th>
                <th>操作</th>
            </tr>
            @foreach (var ms in pagems)
            {
                <tr>
                    <td>@ms.Name</td>
                    <td>@ms.Age</td>
                    <td><a onclick="studentEdit('@ms.Name','@ms.Age','@ms.sId')" style="cursor:pointer">编辑</a></td>
                    <td><a onclick="studentdelete(@ms.sId)" style="cursor:pointer">删除</a></td>
                </tr>
            }
        </table>
        <div>
            @Html.Pager(pagems, new PagerOptions
       {
           FirstPageText = "第一页",
           LastPageText = "最后页",
           NextPageText = "下一页",
           PrevPageText = "上一页",
           NumericPagerItemCount = 5,
           HorizontalAlign = "right",
           PageIndexParameterName = "PageCount",
           ContainerTagName = "ul",
           CssClass = "pagination",
           CurrentPagerItemTemplate = "<li class='active'><a href='#'>{0}</a></li>",
           DisabledPagerItemTemplate = "<li class='disabled'><a>{0}</a></li>",
           PagerItemTemplate = "<li>{0}</li>",
           Id = "bootstrappager"
       })
        </div>
    </div>
<script type="text/javascript">
    //新增修改
    function AddOrEdit() {
        var name = $("#Name").val();
        var age = $("#Age").val();
        var sid = $("#sid").val();
        if (name == "") {
            alert("请输入姓名！");
            return false;
        }
        if (age == "") {
            alert("请输入年龄！");
            return false;
        }
        if (sid == "") {
            var jsonString = "";
            jsonString = "{\"Name\":\"" + name + "\",\"Age\":\"" + age + "\"}";
            $.ajax({
                type: "POST",   //访问WebService使用Post方式请求
                contentType: "application/json", //WebService 会返回Json类型
                url: "../Home/Add",
                data: jsonString,   //这里是要传递的参数，格式为 data: "{paraName:paraValue}",下面将会看到
                dataType: 'json',
                success: function (result) {     //回调函数，result，返回值
                    if (result.messagecode == "1") {
                        alert("添加成功！");
                        location.href = "/Home/Index";
                    } else {
                        alert("添加失败！");
                    }
                    return false;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        } else {
            //var jsonString = "";
            //jsonString = "{\"Name\":\"" + name + "\",\"Age\":\"" + age + "\",\"sid\":\"" + sid + "\"}";
            //$.ajax({
            //    type: "POST",   //访问WebService使用Post方式请求
            //    contentType: "application/json", //WebService 会返回Json类型
            //    url: "../Home/Edit",
            //    data: jsonString,   //这里是要传递的参数，格式为 data: "{paraName:paraValue}",下面将会看到
            //    dataType: 'json',
            //    success: function (result) {     //回调函数，result，返回值
            //        if (result.messagecode == "1") {
            //            alert("修改成功！");
            //            location.href = document.URL;
            //        } else {
            //            alert("修改失败！");
            //        }
            //        $("#Name").val("");
            //        $("#Age").val("");
            //        $("#sid").val("");
            //        $("#btn").val("新增");
            //        return false;
            //    },
            //    error: function (XMLHttpRequest, textStatus, errorThrown) {

            //    }
            //});
            $.post("../Home/Exec", { ExecType:"Update",Type: "Student", value: "{ Name: \"" + name + "\", Age: \"" + age + "\", sId: " + sid +" }" }, function (result) {
                if (result.messagecode == "1") {
                    alert("执行成功！");
                    location.href = document.URL;
                } else {
                    alert("执行失败！");
                }
                $("#Name").val("");
                $("#Age").val("");
                $("#sid").val("");
                $("#btn").val("新增");
                return false;
            });
        }
    }
    function Exec(ajax) {
        $.post("../Home/Exec", ajax, function (result) {
            if (result.messagecode == "1") {
                alert("执行成功！");
                location.href = document.URL;
            } else {
                alert("执行失败！");
            }
            return false;
        });
    }
    //删除
    function studentdelete(sid){
        var jsonString = "";
        jsonString = "{\"sid\":\"" + sid + "\"}";
        $.ajax({
            type: "POST",   //访问WebService使用Post方式请求
            contentType: "application/json", //WebService 会返回Json类型
            url: "../Home/Delete",
            data: jsonString,   //这里是要传递的参数，格式为 data: "{paraName:paraValue}",下面将会看到
            dataType: 'json',
            success: function (result) {     //回调函数，result，返回值
                if (result.messagecode == "1") {
                    alert("删除成功！");
                    location.href = "/Home/Index";
                } else {
                    alert("删除失败！");
                }
                return false;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    }
    //编辑
    function studentEdit(Name,Age,sid) {
        $("#Name").val(Name);
        $("#Age").val(Age);
        $("#sid").val(sid);
        $("#btn").val("编辑");
    }

</script>